@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: block;
    }
  }
  
  @media (min-width: 769px) {
    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
  }